.App {
  text-align: center;
  margin: 15px;
}

.top{
  margin-bottom: 10px;
}

.circle-progress{
  margin-top: 20px;
}

body {
  text-align: center;
  background-color: #ededed;
  user-select:none; /* Chromium allows users to select text */
  font-family:caption; /* Uses default system app */
}
.app-view {
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}